body {
	margin:0;
	padding:0;
	background: #0a0b0d;
	isolation: isolate;
}
svg{
	isolation: isolate;
}
.tick {
	font: 10px Arial;
	fill:white;
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
	     -moz-user-select: none; /* Firefox */
	      -ms-user-select: none; /* Internet Explorer/Edge */
	          user-select: none; /* Non-prefixed version, currently
	                                supported by Chrome and Opera */
}

.track,
.track-inset,
.track-overlay {
	stroke-linecap: round;
}

.track {
	stroke: silver;
	stroke-opacity: 0.3;
	stroke-width: 3px;
}

.track-inset {
	stroke: #ddd;
	stroke-width: 1px;
}

.track-overlay {
	pointer-events: stroke;
	stroke-width: 50px;
	cursor: crosshair;
}
